/* TODO: Make it awesome */
html{
	background-color: #434371
}
body {
	font-size: 20px;
	text-align: center;
}
#products{
	max-width: 960px;
	
}
#catalog img {
	box-shadow: 0 25px 8px -8px black;
	border-radius: 25%;
	background-image: cover;
	background-color: #70EE9C;
	padding:  10px;
	border: 5px solid #79AEA3;
	margin: 20px;
	display: inline-block;
	max-width: 98%;
	
	
  }
p{
	padding: 20px;
}